.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 8vw;
}

.logo img {
  width: 50%;
}

.counter-one .odometer.odometer-auto-theme,
.counter-one .odometer.odometer-theme-default,
.counter-one__single .text-box h2 {
  line-height: 1em;
}

.footer-widget__about-logo img {
  width: 100%;
}

.scroll-to-top {
  height: 60px;
  border-radius: 50px;
  right: 30px;
  bottom: 30px;
}

.scroll-to-top i {
  line-height: 60px;
}
